<app-main-slider></app-main-slider>
<div class="content">
  <div class="who-are-we">
    <div class="title">Кто мы?</div>
    <div class="content-block">
      <div class="left">
        Начинающие фотографы наверняка видели захватывающие кадры с движущимися объектами и хотели их повторить.
        Длиннофокусные объективы выполняют съемку с более узким углом обзора, чем угол зрения человеческого глаза.
      </div>
      <div class="right">
        Фокусное расстояние объектива измеряется в миллиметрах и представляет собой расстояние от объектива до матрицы видеокамеры,
        на которую и фокусируется изображение.
      </div>
    </div>
  </div>
</div>
<div class="ready-solutions">
  <div class="content">
    <div class="content-block">
      <div class="left">
        <div class="plug-image"></div>
      </div>
      <div class="right">
        <div class="title">Готовые решения</div>
        <div class="block">
          Старайтесь фотографировать при хорошем освещении, в идеале оно должно быть естественным.
          Если вы не знаете, как использовать вспышку должным образом, то вообще ее не включайте.
          Очень обидно, когда вы не нравитесь себе ни на одной фотографии.
          В наше время практически каждый человек периодически делает фотоснимки – неважно,
          камерой старенького телефона или профессиональной зеркальной камерой.
        </div>
        <a href="#" class="button-main to-catalog">Каталог</a>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="individual-design">
    <div class="content-block">
      <div class="left">
        <div class="title">Индивидуальный дизайн</div>
        <div class="block">
          Жанр творческой фотографии, очень сильно отличается от обычной фотожурналистики.
          Для многих фотография – способ самовыражения и общения, возможность высказаться и заявить о себе.
          Осень отлично подходит для фотографии, особенно если вы любите яркие цвета.
          Обратите внимание на то, как необычно и интересно может выглядеть портрет, если вы будете изменять ракурс.
          Фотография дает человеку возможность объективно посмотреть на себя, свои чувства, эмоции.
        </div>
        <a href="#" class="button-main to-catalog">Заказать</a>
      </div>
      <div class="right">
        <div class="plug-image"></div>
      </div>
    </div>
  </div>
</div>
<app-review></app-review>
<div class="faq-wrapper">
  <app-faq></app-faq>
  <a href="#" class="button-main to-catalog">Все вопросы</a>
</div>
<app-feedback></app-feedback>
