<div class="reviews">
  <div class="content">
    <ngx-slick-carousel class="carousel main-slider"
                        #slickModal="slick-carousel"
                        [config]="slideConfig">
      <div ngxSlickItem *ngFor="let review of reviews" class="review">
        <p class="names">{{ review.names }}</p>
        <p class="name">{{ review.name }}</p>
        <div class="quotes"></div>
        <p class="text">{{ review.text }}</p>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
